@import url(variables.css);

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    background: var(--color-primary);
}

.container {
    display: grid;
    grid-gap: 8px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(9, 1fr);
    grid-template-areas:
        "menu menu menu menu menu menu menu menu menu menu menu menu"
        "notification notification notification notification sales sales sales sales sales sales balance balance"
        "notification notification notification notification sales sales sales sales sales sales balance balance"
        "week week week week sales sales sales sales sales sales balance balance"
        "week week week week sales sales sales sales sales sales devs devs"
        "week week week week sales sales sales sales sales sales devs devs"
        "product product product product product timeline timeline timeline timeline timeline timeline timeline"
        "product product product product product timeline timeline timeline timeline timeline timeline timeline"
        "product product product product product timeline timeline timeline timeline timeline timeline timeline"
    ;
    width: 800px;
    height: 600px;
    margin: 15px auto;
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
    border-radius: 5px;
    box-shadow: var(--color-shadows)
}

.container>div {
    background: var(--color-secundary);
    border-radius: 5px;
}

/*/ITEM 1/*/
.item1 {
    background: red;
    grid-area: menu;
    display: flex;
}

.item1>div {
    display: flex;
    width: 50%;
}

.ulBuscador {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.item1 div ul li {
    list-style: none;
}

.item1 div ul li a {
    text-decoration: none;
}
.search{
    border-radius: 5px;
    background: rgb(226, 226, 226);
}

.div2Item1 {
    background: yellowgreen;
    display: flex;
    justify-content: space-between;
}

.iconsItem1 {
    width: 30%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.iconsItem1 > i{
    font-size: 1.5em;
}
.profile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
}

.user {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.user>* {
    font-size: small;
    text-align: right;
}

.profileImage {

    width: 15%;
    border-radius: 100px;
}


/*/ITEM2/*/
.item2 {
    background: rgb(135, 216, 249);
    grid-area: notification;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}
.div1Item2{
    height: 90%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}
.imgItem2{
    display: flex;
    align-items: center;
}
.imgItem2 > *{
    width: 15%;
}
.circleItem2{
    background: rgb(0, 0, 0);
    height: 100%;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circleItem2 > p{
    font-weight: 700;
    color: var(--color-secundary);
}
.div2Item2{
    height: 80%;
    width: 31%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 5%
}
.div2Item2 > i{
    display: flex;
    align-self: flex-end;
}
.circleRightItem2{
    background: rgb(0, 0, 0);
    height: 32%;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circleRightItem2 > p{
    font-weight: 700;
    color: var(--color-secundary);
}

/*/ITEM3/*/
.item3 {
    background: yellow;
    grid-area: sales;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 5%;
}
.item3 h2{
    color: #081F37
}
.div1Item3{
    display: flex;
    justify-content: space-between;
}
.div1Item3 > p{
    color: grey;
}
.div2Item3{
    display: flex;
}
.div2Item3 > p{
    color: grey;
}
.div2Item3 > i{
    font-weight: 700;
}
.item3 h3{
    color: #CEED3E;
}


.item4 {
    background: pink;
    grid-area: balance;
    display: flex;
}
.mainItem4{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}
.mainItem4 p{
    font-size: smaller
}
.div1Item4{
    /*/outline: 1px solid black;/*/
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-left: 10%;
    border-radius: 5px;
}
.div2Item4{
    background: #aef7ae;
    /*/outline: 1px solid black;/*/
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-left: 10%;
    border-radius: 5px;
}
.div3Item4{
    /*/outline: 1px solid black;/*/
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-left: 10%;
    border-radius: 5px;
}


/*/ITEM5/*/
.item5 {
    background: salmon;
    grid-area: week;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.div1Item5{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.textItem5 > h4{
    color: var(--color-primary);
}
.circlesItem5{
    height: 38%;
    width: 30%;
    display: flex;
    justify-content: space-between;
    
}
.chartCircle{
    background: rgb(144, 255, 129);
    border-radius: 100px;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrowCircle{
    background: rgb(135, 216, 249);
    border-radius: 100px;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.arrowCircle{
    font-size: x-large;

}
.divGrafica{
    width: 80%;
}
.grafica{
    width: 100%;
}

.item6 {
    background: #CEED3E;
    grid-area: devs;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5%;
}
.whiteDiv{
    border: 1px solid black;
    width: 70%;
    background: white;
    padding: 5%;
    border-radius: 2px;
}
.whiteDiv p{
    font-size: xx-small;
    font-weight: 800;
}
.iconsItem6{
    border: 1px solid black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.imgItem6{
    width: 50%;
    border: 1px solid black;
    display: flex;
    align-items: center;
    padding: 0;
}
.circleItem6{
    outline: 1px solid green;
    background: rgb(0, 0, 0);
    margin: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circleItem6 > p{
    font-weight: 700;
    color: var(--color-secundary);
}
.imgItem6 > *{
    width: 50%;
}
.iconsItem6 > i{
    font-size: 1.5em;
}

.item7 {
    background: rgb(189, 63, 84);
    grid-area: product;
}

.item8 {
    background: green;
    grid-area: timeline;
    display: flex;
    justify-content: center;
}
.item8 img{
    width: 80%;
}

@media (width < 800px) {
    .container {
        width: 100%;
        margin: 0;
        padding: 2px 5px;
        grid-gap: 5px 10px;
        grid-template-columns: 1fr;
        grid-template-areas:
            "menu"
            "sales"
            "balance"
            "week"
            "devs"
            "product"
            "notification"
            "timeline";
    }

    .container>div {
        border-radius: none;
    }

    ;
}